body{
	background-color:rgb(204, 204, 204);
}
.player_one{
	background-color:white;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius:10px;
	border-color:black;
	border: solid
}
video,audio{
	width:540px;
}
.player_two{
	background-color:white;
	width:540px;
	padding:10px;
	margin:auto;
	border-radius:10px;
	border-color:black;
	border: solid
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
a{
	text-decoration-line: none;
}